body {
  font-family: "fantasy;";
  background-color: #f8c099;
  color: #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
}

.header {
  margin: 20px 0;
}

.header__avatar {
  border-radius: 100%;
  height:300px;
  width:270px;
  

}

.header__title {
  margin: 30px 0 10px 20;
  font-size: 32px;
  line-height: 1.2;
  font-family: "fantasy;";
  color: #BC8F8F;
}

.header__subtitle {
  color: #dc1515
  font-size: 20px;
  line-height: 1.4;
  margin: 50;
  background-color: #f8c099;
  font-family: "fantasy;";
}

.links {
  width: 320px;
  scroll-margin-left: 1111px;
}

.links__header {
  font-family: "fantasy";
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  background-color: #fff;
  list-style-type: none;
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 10px;
  gap: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 10;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: #696969;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  width: 180px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #696969;
}

.links__title {
  margin: 10;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #fff;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 5px;

  font-size: 14px;
  line-height: 1.4;

  color: #BC8F8F;
  text-decoration: none;
}

.button-link:hover {
  background-color: #0969da;
  color: #fff;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}
.div {

}
